@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

header {
  width: 100%;
  height: 80px;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all .5s ease;
  position: fixed;
}

.sticky {
  box-shadow: 0 4px 25px -19px #000;
}

.header-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  line-height: 80px;
  font-size: 27px;
  letter-spacing: 1px;
  color: rgba(69, 80, 230,);
}

.logo span {
  color: #757575;
  font-size: 12px;
}

#toggle {
  display: none;
}

.menu ul {
  display: flex;
  line-height: 80px;
  list-style: none;
  margin-right: -20px;
}

.menu ul li {
  margin: 0 5px;
}

.menu ul li a {
  font-size: 19px;
  color: #232222;
  padding: 8px 20px;
  border-radius: 30px;
  transition: all .5s ease;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.menu ul li a:hover {
  background: rgb(69, 80, 230);
  color: #fff;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Banner-Home*/
.banner-content {
  display: flex;
}

.banner-content .banner-img {
  margin-top: -30px;
}

.banner-content img {
  width: 400px;
  animation: animate 3s linear infinite; 
}

@keyframes animate {
  40% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(10px);
  }
}

.banner-box {
  margin-top: 60px;
  margin-right: 140px;
}

.banner-box .banner-btn {
  line-height: 50px;
  padding: 8px 20px;
  background: rgba(69, 80, 230);
  border-radius: 8px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

/*About*/
.about {
  flex-direction: column;
}

.a-tl {
  font-size: 2.5em;
  margin-bottom: 50px;
}

.a-line {
  width: 100px;
  height: 4px;
  background: rgba(69, 80, 230);
  margin-top: -45px;
  margin-bottom: 55px;
}

.about-content {
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 380px;
}

.about-box, .skills-box {
  border-radius: 12px;
  margin: 0 10px;
}

.about-text, .skills-text {
  width: 90%;
  margin: 20px auto;
}

.about-text p {
  margin-top: 40px;
}

.skills-text {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 80px 80px 80px 80px;
  margin-top: 40px;
}

.skills-box .s-tl {
  margin-top: 20px;
  margin-left: 20px;
}

.skills-text div {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 2px;
}

.skills-text div i {
  font-size: 24px;
}

.skills-box div h4 {
  margin-top: 5px;
  font-size: 7px;
  color: #232222;
}

/*Services*/
.services {
  flex-direction: column;
}

.ser-tl {
  font-size: 2.5em;
  margin-bottom: 50px;
}

.s-line {
  width: 100px;
  height: 4px;
  background: rgba(69, 80, 230);
  margin-top: -45px;
  margin-bottom: 55px;
}

.services-content {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 250px 250px;
  grid-gap: 1em;
}


.services-content article {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f9f9f9;
  border-radius: 12px;
}

.services-content .services-width {
  width: 90%;
  margin: 0 auto;
}

.services-content article i {
  font-size: 30px;
  margin-bottom: 5px;
}

.services-content article p {
  font-size: 13px;
  margin: 7px 0;
}

/*Works*/
.works {
  flex-direction: column;
}

.w-tl {
  font-size: 2.5em;
  margin-bottom: 50px;
}

.w-line {
  width: 100px;
  height: 4px;
  background: rgba(69, 80, 230);
  margin-top: -45px;
  margin-bottom: 55px;
}

.works-content {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 250px 250px;
}

.works-content article {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  margin: 10px;
  border-radius: 12px;
  color: rgba(69, 80, 230);
}

/*Contact*/
.contact {
  flex-direction: column;
}

.c-tl {
  font-size: 2.5em;
  margin-bottom: 50px;
}

.c-line {
  width: 100px;
  height: 4px;
  background: rgba(69, 80, 230);
  margin-top: -45px;
  margin-bottom: 55px;
}

.contact-content {
  width: 60%;
  margin: 0 5px;
}

.contact-content p {
  width: 60%;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 130px;
}

.contact-links {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 160px 160px;
  gap: 1em;
}

.contact-links a {
  width: 100%;
  height: 160px;
  background: #eee;
  color: #232222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all .6s ease;
}

.contact-links a:hover {
  background: #8E8E8E;
  color: #fff;
}

.contact-links i {
  font-size: 35px;
  margin-bottom: 5px;
}

.contact-links span {
  font-weight: 600;
}

/*Footer*/
.footer {
  width: 100%;
  height: 100px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/*Responsive-Design*/
@media(max-width: 980px) {
  .header-content {
    width: 95%;
  }
  
  #toggle {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 20px;
  }
  
  .menu {
    width: 70%;
    height: 100vh;
    background: #fff;
    box-shadow: 0 4px 25px -16px #000;
    top: 0;
    right: -100%;
    transition: all .5s ease;
    overflow: hidden;
    position: fixed;
  }
  
  .active {
    right: -3%;
  }
  
  .menu ul {
    margin-top: 100px;
    flex-direction: column;
    line-height: 30px;
  }
  
  .menu ul li a {
    width: 97%;
    display: flex;
  }
  
  .menu ul li a:hover {
    background: none;
    color: rgb(69, 80, 230);
  }
  
  /*Banner-Home*/
  .banner-content {
    width: 90%;
  }
  
  .banner-img img {
    width: 300px;
    margin-top: 75px;
  }
  
  /*About*/
  .about-content {
    width: 90%;
  }
  
  /*Services*/
  .services-content {
    width: 90%;
    margin-left: 25px;
  }
  /*Works*/
  .works-content {
    width: 90%;
  }
  /*Contact*/
  .contact-content {
    width: 90%;
    margin-left: 25px;
  }
}

@media(min-width: 450px), (max-width: 720px) {
  header {
    height: 60px;
  }
  .logo {
    line-height: 60px;
    font-size: 20px;
  }
  
  .menu ul li a {
    font-size: 16px;
  }
  
  #toggle {
    width: 35px;
    height: 35px;
    margin-top: 13px;
  }
  
  .banner {
    background: #222;
  }
  .banner-content {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .banner-box {
    text-align: center;
    margin: 30px 0;
  }
  /*About*/
  .about {
    height: 100%;
  }
  .a-tl {
    font-size: 26px;
    margin-top: 40px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
  }
  .services {
    height: 100%;
    position: relative;
  }
  .services-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .ser-tl {
    font-size: 24px;
    margin-top: 40px;
  }
  
  /*works*/
  .works-content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 170px 170px 170px; 
  }
  
  .w-tl {
    font-size: 24px;
    margin-top: 40px;
  }
  
  /*Contact*/
  .contact {
    width: 100%;
  }
  .c-tl {
    font-size: 24px;
    margin-top: 40px;
  }
  .contact-links {
    width: 90%;
    text-align: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px;
  }
  .contact-links a {
    height: 100%;
  }
  .contact-content p {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  /*Footer*/
  .footer {
    height: 70px;
  }
  .footer p {
    font-size: 15px;
  }
}